.navPointerWidth {
    pointer-events: none; /* evita que el nav bloqueé el scroll lateral cuando es más chico */
    width: 100vw;
}

.linkUnderline {
  position: relative;
  cursor: pointer;
  color:#d1d5dc;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.linkUnderline:hover {
    color: white;
}

.linkUnderline::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 2px;
  background: white;
  border-radius: 9999px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s cubic-bezier(0.4,0,0.2,1);
}

.linkUnderline:hover::after,
.linkUnderline:focus-visible::after {
  transform: scaleX(1);
  transform-origin: left;
}


/* Reverse animation: underline sale de derecha a izquierda */
.linkUnderline:not(:hover):not(:focus-visible)::after {
  transition: transform 0.3s cubic-bezier(0.4,0,0.2,1), transform-origin 0s 0.3s;
  transform-origin: right;
}


/* MOBILEMENU */

.mobileMenu {
  position: fixed;
  top: 30%;
  left: 0;
  transform: translateY(-50%) translateX(-100%);
  width: 20rem;           /* w-80 */
  max-width: 20rem;       /* max-w-xs */
  height: 100vh;          /* h-full */
  background: #fff;       /* bg-white */
  color: #000;            /* text-black */
  z-index: 50;
  padding: 1.5rem;        /* p-6 */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;            /* gap-6 */
  border-radius: 2rem;    /* rounded-4xl */
  border: 1px solid #e5e7eb; /* border color Tailwind gray-200 */
  transition: transform 0.3s cubic-bezier(0.4,0,0.2,1);
}

.mobileMenuOpen {
  transform: translateX(0);
}


/* CARRITO */

.cartDropdown {
  position: absolute;
  top: 100%;
  margin-top: 0.5rem;
  width: 90vw;
  max-width: 400px;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  z-index: 50;
  max-height: 60vh;
  overflow-y: auto;

  /* Transición suave */
  transition: left 0.5s ease, transform 0.5s ease;
}

/* Cuando el navbar está arriba de todo */
.topCarrito {
  left: 50%;
  transform: translateX(-50%);
}

/* Cuando hiciste scroll */
.scrolledCarrito {
  left: 0;
  transform: translateX(0);
}

@media (min-width: 1480px) and (max-width: 1700px) {
  .topCarrito,
  .scrolledCarrito {
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%) !important;
  }
}

@media (min-width: 768px) and (max-width: 1480px) {
  .cartDropdown {
    margin-top: 20px;
    right: 0;
    left: auto;
    transform: none;
  }
}



/* CARRITO MOBILE */

.mobile-cart-dropdown {
  position: fixed;
  inset: 0;
  z-index: 100;
  background: #fff;
  display: flex;
  flex-direction: column;
  transition: transform 0.4s cubic-bezier(0.4,0,0.2,1);
  transform: translateX(100%);
}

.mobile-cart-dropdown.open {
  transform: translateX(0);
}
